version: '2'
services:
    
    app:
        build:
            context: .
            dockerfile: ./dockerfiles/Dockerfile
        volumes:
            - .:/opt/code
        working_dir: /opt/code
        command: python /opt/code/run.py
        ports:
            - "5000:5000"
