nav {
    text-align: right;
    padding-right: 20px;
}

.menu {
    // Center vertically
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.menu a {
    font-size: 2em;
    padding-right: 10px;
}
