.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

<<<<<<< HEAD:app/static/css/index.css
.menu {
    /* Center vertically */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
=======
footer,
header,
.container {
    padding-left: 240px;
>>>>>>> Add sidebar, reorganize file structure:app/css/index.scss
}

@media only screen and (max-width : 992px) {
    footer,
    header,
    .container {
        padding-left: 0;
    }
}
