{% extends "layout.html" %}

{% block title %}
    {% if form.data.duration is none %}
        Submit Time
    {% else %}
        Edit Time
    {% endif %}
{% endblock %}

{% block body %}
    <form method="POST">
        {{ form.csrf_token }}
        <p>{{ form.duration.label }} {{ form.duration }}</p>
        <p>{{ form.project.label }} {{ form.project }}</p>
        <p>{{ form.activities.label }} {{ form.activities }} {{ form.activities.description }}</p>

        <p>{{ form.notes.label }} {{ form.notes }}</p>
        <p>{{ form.issue_uri.label }} {{ form.issue_uri }} {{ form.issue_uri.description }}</p>

        <p>{{ form.date_worked.label }} {{ form.date_worked(class="datepicker", type="date") }}</p>
        <p><input class="btn waves-effect waves-light" type="submit" value="Submit"></p>
    </form>
{% endblock %}

{% block scripts %}
<script>
var default_activities = {{ default_activities | safe }};

$(document).ready(function () {
    $('select').material_select();

    $('.datepicker').pickadate({
        format: 'yyyy-mm-dd'
    });

    $("#project").change(function() {
        var project_slug = $(this).find("option:selected").attr("value");

        // Clear currently selected activities
        $("#activities option").prop("selected", false);

        if (project_slug in default_activities) {
            var default_activity = default_activities[project_slug];

            $("#activities option[value=" + default_activity + "]").prop("selected", true);
        }
    });
});
</script>
{% endblock %}
