{% extends "layout.html" %}

{% block title %} Delete Activity {% endblock %}

{% block body %}
    <div class="activity-info">
        <p>Activity info:</p>
        <p>
            Name: {{ activity['name'] }}<br />
            Slug: {{ activity['slug'] }}<br />
        </p>
    </div>

    <div class="confirm-delete">
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.ts_object }}
            <input type="submit" value="Yes, delete this activity">
            <input type="button" name="no" value="No" onClick="location.href='{{ url_for('view_activities') }}'">
        </form>
    </div>
{% endblock %}
