{% extends "layout.html" %}

{% block title %} View Times {% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/table_sort.js') }}"></script>

<script>
function clearForm(form)
{
    for (i = 0; i < form.elements.length; i++)
    {
        if (form.elements[i].type == "text")
        {
            form.elements[i].value = "";
        }
    }

    var oldBody = document.getElementsByTagName('tbody')[0];
    var newBody = document.createElement('tbody');

    oldBody.parentNode.replaceChild(newBody, oldBody);
}
</script>
{% endblock %}

{% block body%}
    <div class="filter-params">
        <form method="POST">
            {{ form.csrf_token}}
            <p>{{ form.user.label }} {{ form.user }}</p>
            <p>{{ form.project.label }} {{ form.project }} {{ form.project.description }}</p>
            <p>{{ form.activity.label }} {{ form.activity }} {{ form.activity.description}} </p>
            <p>{{ form.start.label }} {{ form.start }} {{ form.start.description }}</p>
            <p>{{ form.end.label }} {{ form.end }} {{ form.end.description }}</p>
            <p><input type="submit" value="Submit">  <input type="button" name="clear" value="Clear" onclick="clearForm(this.form);"></p>
        </form>
    </div>
    <div class="view-times">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th class="alpha">User</th>
                    <th class="hms">Duration</th>
                    <th class="date">Date Worked</th>
                    <th class="list">Projects</th>
                    <th class="list">Activities</th>
                    <th>Issue URI</th>
                    <th>Additional Notes</th>
                </tr>
            </thead>

            <tbody>
                {% for t in times %}
                <tr>
                {% if t['user'] == user or is_admin %}
                    <td><a href="{{ url_for('edit_time', time=t['uuid']) }}">EDIT</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                    <td>{{ t['user'] }}</td>
                    <td>{{ t['duration'] | hms_filter }}</td>
                    <td>{{ t['date_worked'] }}</td>
                    <td>{{ t['project'] | join(' ') }}</td>
                    <td>{{ t['activities'] | join(' ') }}</td>
                    <td>{{ t['issue_uri'] }}</td>
                    <td>{{ t['notes'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
