{% extends "layout.html" %}

{% block title %} View Projects {% endblock %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/simplePagination/simplePagination.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_object.css') }}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/simplePagination/jquery.simplePagination.js') }}"></script>

{% assets "js_forms" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    $(document).ready(function() {
        $('select').material_select();

        var tableSelector = "#view-projects table";
        var perPage = 10;

        addPagination(tableSelector, perPage);
        makeSortable(tableSelector, perPage, 0, "asc");
    });
</script>
{% endblock %}

{% block body %}
    <div class="filter-params">
        <form method="POST">
            {{ form.csrf_token }}
            <p>{{ form.username.label }} {{ form.username }}</p>
            <p>{{ form.slug.label }} {{ form.slug }}</p>
            <p>{{ form.include_deleted }} {{ form.include_deleted.label }}</p>
            <p>{{ form.include_revisions }} {{ form.include_revisions.label }}</p>
            <p>
                <input class="btn waves-effect waves-light" type="submit" value="Submit">
                <input class="btn waves-effect waves-light" type="button" name="clear" value="Clear" onclick="clearForm(this.form, false);">
            </p>
        </form>
    </div>

    <div id="paginator"></div>

    <div id="view-projects">
        <table>
            <thead>
                <tr>
                    <th class="alpha">Name</th>
                    <th class="alpha">Default Activity</th>
                    <th class="list">Slugs</th>
                    <th class="list">Members</th>
                    <th class="list">Managers</th>
                    <th class="list">Spectators</th>
                    <th>URI</th>
                </tr>
            </thead>

            {% for p in projects %}
            <tr>
                <td>{{ p['name'] }}</td>
                <td>{{ p['default_activity'] }}</td>
                <td>{{ p['slugs'] | join(' ') }}</td>
                <td>{{ p['members'] | join(' ') }}</td>
                <td>{{ p['managers'] | join(' ') }}</td>
                <td>{{ p['spectators'] | join(' ') }}</td>
                <td>{{ p['uri'] }}</td>
                {% if is_admin %}
                    <td><a href="{{ url_for('edit_project', project=p['slugs'][0]) }}">EDIT</a></td>
                {% else %}
                    {% for manager in p['managers'] %}
                        {% if manager == user['username'] or admin %}
                            <td><a href="{{ url_for('edit_project', project=p['slugs'][0]) }}">EDIT</a></td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
