{% extends "layout.html" %}

{% block title %} View Activities {% endblock %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/simplePagination/simplePagination.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_object.css') }}">
{% endblock %}

{% block body%}
    <div class="filter-params">
        <form method="POST">
            {{ form.csrf_token }}
            <p>{{ form.slug.label }} {{ form.slug }}</p>
            <p>{{ form.include_deleted }} {{ form.include_deleted.label }}</p>
            <p>{{ form.include_revisions }} {{ form.include_revisions.label }}</p>
            <p>
                <input class="btn waves-effect waves-light" type="submit" value="Submit">
                <input class="btn waves-effect waves-light" type="button" name="clear" value="Clear">
            </p>
            <br>
        </form>
    </div>

    <ul class="pagination">
    </ul>

    <div id="view-activities">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Activity Name</th>
                    <th>Activity Slug</th>
                </tr>
            </thead>

            <tbody>
                {% for a in activities %}
                <tr>
                {% if is_admin and not a['deleted_at'] %}
                    <td><a href="{{ url_for('delete_activity', slug=a['slug']) }}">DELETE</a></td>
                    <td><a href="{{ url_for('edit_activity', slug=a['slug']) }}">EDIT</a></td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
                    <td>{{ a['name'] }}</td>
                    <td>{{ a['slug'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/simplePagination/jquery.simplePagination.js') }}"></script>

{% assets "js_forms" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
$(document).ready(function() {
    var listSelector = "ul.pagination";
    var tableSelector = "#view-activities table";
    var form = $("form");
    var clearButton = form.find("input[value='Clear']");
    var reload = true;
    var perPage = 10;

    pagination(listSelector, tableSelector, perPage);
    makeSortable(tableSelector, perPage, 1, "asc");
    clearButtonListener(listSelector, clearButton, form, reload);
});
</script>
{% endblock %}
