{% extends "layout.html" %}

{% block title %} View Users {% endblock %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/simplePagination/simplePagination.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_object.css') }}">
{% endblock %}

{% block body%}
    <div class="filter-params">
        <form method="POST">
            {{ form.csrf_token}}
            <p>{{ form.username.label }} {{ form.username }}</p>
            <p>{{ form.metainfo.label }} {{ form.metainfo }}</p>
            <p>
                <input class="btn waves-effect waves-light" type="submit" value="Submit">
                <input class="btn" type="button" name="clear" value="Clear">
            </p>
            <br>
        </form>
    </div>

    <ul class="pagination">
    </ul>

    <div id="view-users">
        <table>
            <thead>
                <tr>
                    <th class="alpha">Username</th>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Site Admin</th>
                    <th>Site Manager</th>
                    <th>Site Spectator</th>
                    <th>Active</th>
                    <th>Meta-information</th>
                </tr>
            </thead>

            {% for u in users %}
            <tr>
                <td class="username"><a href="{{ url_for('view_user_times', username=u['username']) }}">{{ u['username'] }}</a></td>
                <td>{{ u['display_name'] }}</td>
                <td>{{ u['email'] }}</td>
                <td>{{ u['site_admin'] }}</td>
                <td>{{ u['site_manager'] }}</td>
                <td>{{ u['site_spectator'] }}</td>
                <td>{{ u['active'] }}</td>
                <td>{{ u['meta'] }}</td>
                {% if u['username'] == user or is_admin %}
                    <td><a href="{{ url_for('edit_user', username=u['username']) }}">EDIT</a></td>
                    <td><a href="{{ url_for('delete_user', username=u['username']) }}">DELETE</a></td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/simplePagination/jquery.simplePagination.js') }}"></script>

{% assets "js_forms" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    $(document).ready(function() {
        var listSelector = "ul.pagination";
        var tableSelector = "#view-users table";
        var perPage = 10;
        var view_user_times_root = "{{ url_for('view_user_times') }}";
        var form = $("form");
        var clearButton = form.find("input[value='Clear']");
        var reload = true;

        pagination(listSelector, tableSelector, perPage);
        makeSortable(tableSelector, perPage, 0, "asc");
        clearButtonListener(listSelector, clearButton, form, reload);
    });
</script>
{% endblock %}
