{% extends "layout.html" %}

{% block title %} View Times {% endblock %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/simplePagination/simplePagination.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_object.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-3.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/simplePagination/jquery.simplePagination.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="create-link">
        <a href="{{ url_for('create_time') }}">Create Time</a>
    </div>

    <div class="filter-params">
        <form method="POST">
            {{ form.csrf_token }}
            <p>{{ form.users.label }} {{ form.users }}</p>
            <p>{{ form.projects.label }} {{ form.projects }} {{ form.projects.description }}</p>
            <p>{{ form.activities.label }} {{ form.activities }} {{ form.activities.description}} </p>
            <p>{{ form.start.label }} {{ form.start(class="datepicker", type="date") }}</p>
            <p>{{ form.end.label }} {{ form.end(class="datepicker", type="date") }}</p>
            <p>
                <input class="btn waves-effect waves-light" type="submit" value="Submit">
                <input class="btn waves-effect waves-light" type="button" name="clear" value="Clear" onclick="clearForm(this.form, false);">
            </p>
        </form>
    </div>

    {% if summary %}
    <div class="times-summary">
        <table>
            <tr>
                <th align='left'>Total Time</th>
                <td>{{ summary['total_time'] | hms_filter }}</td>
            </tr>
            <tr>
                <th align='left'>Unique Users</th>
                <td>{{ summary['unique_users'] }}</td>
            </tr>
            <tr>
                <th align='left'>Users List</th>
                <td>{{ summary['users_list'] | join(', ') }}</td>
            </tr>
            <tr>
                <th align='left'>Unique Projects</th>
                <td>{{ summary['unique_projects'] }}</td>
            </tr>
            <tr>
                <th align='left'>Projects List</th>
                <td>{{ summary['projects_list'] | join(', ') }}</td>
            </tr>
            <tr>
                <th align='left'>Unique Activities</th>
                <td>{{ summary['unique_activities'] }}</td>
            </tr>
            <tr>
                <th align='left'>Activities List</th>
                <td>{{ summary['activities_list'] | join(', ') }}</td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div id="paginator"></div>

    <div id="view-times">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="alpha">User</th>
                    <th class="hms">Duration</th>
                    <th class="date">Date Worked</th>
                    <th class="list">Projects</th>
                    <th class="list">Activities</th>
                    <th>Issue URI</th>
                    <th>Additional Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for t in times %}
                <tr>
                    {% if t['user'] == user or is_admin %}
                        <td><a href="{{ url_for('delete_time', uuid=t['uuid']) }}">DELETE</a></td>
                        <td><a href="{{ url_for('edit_time', uuid=t['uuid']) }}">EDIT</a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}

                    <td>{{ t['user'] }}</td>
                    <td>{{ t['duration'] | hms_filter }}</td>
                    <td>{{ t['date_worked'] }}</td>
                    <td>{{ t['project'] | join(' ') }}</td>
                    <td>{{ t['activities'] | join(' ') }}</td>
                    <td>{{ t['issue_uri'] }}</td>
                    <td>{{ t['notes'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {% assets "js_forms" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

<script>
$(document).ready(function() {
    $('select').material_select();

    $('.datepicker').pickadate({
        format: 'yyyy-mm-dd'
    });

    var tableSelector = "#view-times table";
    var perPage = 20;

    addPagination(tableSelector, perPage);
    makeSortable(tableSelector, perPage, 4, "desc");
});
</script>
{% endblock %}
